h1, h3 {
  text-align: center;
}

.btn-start-game {
  display: block;
  margin: 1rem auto;
  padding: 0.5rem 1rem;
  width: 20rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
  grid-gap: 0.5rem;
  width: 100vw;
  max-height: 100vh;
  justify-content: center;
  align-content: center;
}
